a
  color: inherit!important
  text-decoration: inherit!important

.displayFlex
  display: flex

.cols
  flex-direction: column
.flexCenter
  align-items: center
  justify-content: center
body
  font-family: Roboto

.width100
  width: 100%

.flexBetween
  align-items: center
  justify-content: space-between
  margin: 1em

.scaled2
  transform: scale(2)

.font150
  font-size: 150%

.marginLeft
  margin-left: 2rem

.color-alt
  color: white
