text
  font: 24px "Helvetica Neue", Helvetica, Arial, sans-serif
  text-anchor: middle
  pointer-events: none


ellipse
    fill: #ccc
    box-shadow: 10px 10px 5px 5px #888888


.node:hover ellipse
    fill: orange
    cursor: pointer

g:hover
    z-index: 100

.title-padding
  padding:  0.9em 0.7em 0.9em 1.9em

