md-card img{
  width: 100%;
}

.md-list{
  display: flex;
  flex-wrap: wrap;
}
.active {
  color: darkgreen !important;
  background-color: #eeeeee;
}
nav a{
  display: flex;
  padding: 0.5em 1.5em;
}
a{
  color: black;
}
a:hover{
  cursor: pointer;
}
.horizontal{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
