src/main/webapp/resources/typings
src/main/webapp/resources/system-config.js*
src/main/webapp/resources/app/**/*.js
src/main/webapp/resources/app/**/*.map
src/main/webapp/resources/node_modules
src/main/webapp/resources/jspm_packages
src/main/webapp/resources/bower_components
src/main/webapp/resources/aot/*
src/main/webapp/resources/dist/*
target/*
.idea/*

frontend
frontend/typings
frontend/system-config.js*
frontend/app/**/*.js
frontend/app/**/*.map
frontend/node_modules
frontend/.idea
frontend/jspm_packages
frontend/bower_components
frontend/aot/*
frontend/dist/*
frontend2/node_modules
